<h3 ng-if="corpus.busy" style="color: red">Corpus is currently busy!</h3>

<div class="row" ng-show="corpus.imported && corpus_status != 'database not running'">
    <div class="col-md-9 scroll-container text-center" style="height:1280px">
        <table class="table table-bordered table-striped scrollable-table">

            <thead>
            <tr>
                <td ng-click="sortEnrichmentsBy='name'; reverseEnrichments=!reverseEnrichments;">
                    Name
                    <span ng-show="sortEnrichmentsBy == 'name' && reverseEnrichments" class="fa fa-caret-down"></span>
                    <span ng-show="sortEnrichmentsBy == 'name' && !reverseEnrichments" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="sortEnrichmentsBy='runnable'; reverseEnrichments=!reverseEnrichments;">
                    Runnable
                    <span ng-show="sortEnrichmentsBy == 'runnable' && reverseEnrichments" class="fa fa-caret-down"></span>
                    <span ng-show="sortEnrichmentsBy == 'runnable' && !reverseEnrichments" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="sortEnrichmentsBy='running'; reverseEnrichments=!reverseEnrichments;">
                    Running
                    <span ng-show="sortEnrichmentsBy == 'running' && reverseEnrichments" class="fa fa-caret-down"></span>
                    <span ng-show="sortEnrichmentsBy == 'running' && !reverseEnrichments" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="sortEnrichmentsBy='completed'; reverseEnrichments=!reverseEnrichments;">
                    Completed
                    <span ng-show="sortEnrichmentsBy == 'completed' && reverseEnrichments" class="fa fa-caret-down"></span>
                    <span ng-show="sortEnrichmentsBy == 'completed' && !reverseEnrichments" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="sortEnrichmentsBy='last_run'; reverseEnrichments=!reverseEnrichments;">
                    Last run
                    <span ng-show="sortEnrichmentsBy == 'last_run' && reverseEnrichments" class="fa fa-caret-down"></span>
                    <span ng-show="sortEnrichmentsBy == 'last_run' && !reverseEnrichments" class="fa fa-caret-up"></span>
                </td>
		<td>
                    Actions
                </td>
            </tr>
            </thead>
            <tbody style="height:50%">
            <tr ng-repeat="enrichment in enrichments | orderBy:tableSortExpression:reverseEnrichments">
                <td>
                    {{enrichment.name}}
                </td>
		<td ng-show="enrichment.runnable == 'runnable'">
		    <span class="glyphicon glyphicon-ok" style="color:green"></span>
                </td>
		<td ng-show="enrichment.runnable != 'runnable'" title="{{ enrichment.runnable }}" data-toggle="tooltip" data-container="body" data-placement="auto" tooltip>
		    <span class="glyphicon glyphicon-remove" style="color:red"></span>
                </td>
                <td>
		    <span ng-show="enrichment.running" class="glyphicon glyphicon-ok" style="color:green"></span>
		    <span ng-show="!enrichment.running" class="glyphicon glyphicon-remove" style="color:red"></span>
                </td>
                <td>
		    <span ng-show="enrichment.completed" class="glyphicon glyphicon-ok" style="color:green"></span>
		    <span ng-show="!enrichment.completed" class="glyphicon glyphicon-remove" style="color:red"></span>
                </td>
                <td>
                    {{enrichment.last_run}}
                </td>
                <td>
                    <button class='btn btn-success' ng-if="!corpus.busy" ng-disabled="enrichment.runnable != 'runnable'" ng-click="runEnrichment(enrichment.id)">
			    <span> Run </span>
		    </button>
                    <button class='btn btn-warning' ng-if="!corpus.busy" ng-click="resetEnrichment(enrichment.id)">
			    <span> Reset </span>
		    </button>
                    <button class='btn btn-warning' ng-if="!corpus.busy" ng-click="editEnrichment(enrichment)">
			    <span> Edit </span>
		    </button>
                    <button class='btn btn-danger' ng-if="!corpus.busy" ng-click="deleteEnrichment(enrichment)">
			    <span> Delete </span>
		    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <h3>Create new enrichments</h3>
        <ul>
            <li>
                <button ng-click="newPhoneSubset()">Phone subset</button>
            </li>
            <li>
                <button ng-click="newHierarchicalProperty()">Hierarchical property</button>
            </li>
            <li>
                <button ng-click="newStressWordProp()">Stress from word property</button>
            </li>
            <li>
                <button ng-click="newCSVProperties()">Properties from a CSV</button>
            </li>
            <li>
                <button ng-click="createAcoustics()">Acoustics</button>
            </li>
        </ul>
        <h4>Annotation levels</h4>
        <ul>
            <li>
                <button ng-click="createPauses()">Pauses</button>
            </li>
            <li>
                <button ng-click="createUtterances()">Utterances</button>
            </li>
            <li>
                <button ng-click="createSyllables()">Syllables</button>
            </li>
        </ul>
    </div>
</div>
<div class="alert alert-warning" ng-show="corpus_status == 'database not running'">
	<span>The {{ corpus.name }} corpus is not currently running, please start it at <a ui-sref="database-list">databases</a>.</span>
</div>
