amqp
Django>=2.0
django-celery-results==1.0.1
django-classy-tags>=0.8.0
django-cors-headers>=2.1.0
django-sekizai
djangorestframework
drf-nested-routers
kombu
-e git://github.com/MontrealCorpusTools/polyglotdb.git#egg=polyglotdb
PyYAML
requests
TextGrid>=1.4
Pillow
django-extensions==1.7.9
django-htmlmin==0.10.0
django-compressor==2.1.1
psycopg2==2.7.1
dj-database-url==0.4.2
celery==4.1.1
django-rest-auth
django-allauth
