django>=1.11.1
djangorestframework>=3.6.3
https://github.com/MontrealCorpusTools/PolyglotDB/archive/master.zip
pytest-django>=3.1.2
pytest-pythonpath
celery==4.0.0
kombu==4.0.0
amqp==2.1.1
django-celery-results
