{% extends "iscan/base.html" %}
{% load static sekizai_tags extra_tags %}

{% block all-content %}

<div layout="column" ng-app='pgdb' style="height:100%">
    <div flex="11">
        <navbar></navbar>

    </div>
    <div flex>
        <main  layout="column" ui-view>
        </main>

    </div>
</div>

{% addtoblock "js" %}
{% get_settings_val "IS_TESTING" as is_testing %}
{% if is_testing %}
<script src="{% static 'pgdb/env-testing.js' %}"></script>
{% else %}
<script src="{% static 'pgdb/env.js' %}"></script>
{% endif %}
<script>
    function static(path) {
        return "{% static '/' %}" + path;
    }


</script>
<script src="{% static 'node_modules/d3/dist/d3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/d3-scale-chromatic/dist/d3-scale-chromatic.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'node_modules/angular/angular.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    angular.lowercase = text => text.toLowerCase();
</script>
<script src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.js' %}"
        type="text/javascript"></script>
<script src="{% static 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-animate/angular-animate.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-aria/angular-aria.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-messages/angular-messages.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-material/angular-material.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-sanitize/angular-sanitize.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-cookies/angular-cookies.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-mousetrap-service/src/angular-mousetrap-service.js' %}"></script>
<script src="{% static 'node_modules/angular-resource/angular-resource.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-file-saver/dist/angular-file-saver.bundle.js' %}"
        type="text/javascript"></script>
<script src="{% static 'node_modules/checklist-model/checklist-model.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/angular-material-data-table/dist/md-data-table.js' %}"
        type="text/javascript"></script>


<script src="{% static 'pgdb/js/howler.min.js' %}" charset="utf-8" type="text/javascript"></script>
<script src="{% static 'pgdb/js/dsp.js' %}" charset="utf-8" type="text/javascript"></script>

<script src="{% static 'pgdb/pgdb.module.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/users/users.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/users/users.service.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/databases/databases.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/databases/databases.service.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/corpora/corpora.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/corpora/corpora.service.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/auth/auth.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/auth/validate.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/auth/auth.service.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/auth/auth.directives.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/database-list/database-list.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/database-detail/database-detail.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/query/query.js' %}"></script>
<script src="{% static 'pgdb/enrichment/enrichment.js' %}"></script>

<script src="{% static 'pgdb/enrichment/pitch_tracks/pitch_tracks.js' %}"></script>
<script src="{% static 'pgdb/enrichment/formant_tracks/formant_tracks.js' %}"></script>
<script src="{% static 'pgdb/enrichment/intensity_tracks/intensity_tracks.js' %}"></script>
<script src="{% static 'pgdb/enrichment/formant_points/formant_points.js' %}"></script>
<script src="{% static 'pgdb/enrichment/praat_script/praat_script.js' %}"></script>

<script src="{% static 'pgdb/enrichment/csv-properties/csv-properties.js' %}"></script>
<script src="{% static 'pgdb/enrichment/annotation-level/pause.js' %}"></script>
<script src="{% static 'pgdb/enrichment/annotation-level/utterance.js' %}"></script>
<script src="{% static 'pgdb/enrichment/annotation-level/syllable.js' %}"></script>
<script src="{% static 'pgdb/enrichment/stress-word-prop/stress-word-prop.js' %}"></script>
<script src="{% static 'pgdb/enrichment/relativization/relativization.js' %}"></script>
<script src="{% static 'pgdb/enrichment/subset/subset.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/enrichment/vot/vot.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/enrichment/hierarchical/hierarchical.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/corpus-detail/corpus-detail.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/navbar/navbar.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/login/login.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/logout/logout.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/query/query.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/query/query.service.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/query/query.directives.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/enrichment/enrichment.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/enrichment/enrichment.service.js' %}" type="text/javascript"></script>

<script src="{% static 'pgdb/components/annotations/annotations.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/components/annotations/annotations.service.js' %}" type="text/javascript"></script>


<script src="{% static 'intonation/static/bestiary-plot/bestiary-plot.js' %}" type="text/javascript"></script>
<script src="{% static 'intonation/static/components/query/intonation.query.js' %}" type="text/javascript"></script>
<script src="{% static 'intonation/static/components/query/intonation.query.service.js' %}" type="text/javascript"></script>
<script src="{% static 'intonation/static/components/query/intonation.query.directives.js' %}" type="text/javascript"></script>
<script src="{% static 'pgdb/query-detail/query-detail.js' %}" type="text/javascript"></script>
<script type='text/javascript'
        src="https://rawgit.com/long2know/angular-directives-general/master/src/multiselect.js"></script>

{% endaddtoblock %}
{% addtoblock "css" %}
<link rel="stylesheet"
      type="text/css"
      href="{% static 'node_modules/angular-material/angular-material.min.css' %}">
<link rel="stylesheet"
      type="text/css"
      href="{% static 'node_modules/angular-material-icons/angular-material-icons.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet"
      type="text/css"
      href="{% static 'node_modules/angular-material-data-table/dist/md-data-table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pgdb/css/plots.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pgdb/css/app.css' %}">

{% endaddtoblock %}
{% endblock %}
