<div layout="row" layout-align="center start">
    <div layout="column" class='col-md-6'>
        <div layout="row">
            <h4> Scripts </h4>
        </div>
        <div layout="row">
            <p>
                This page is dedicated to the running of SPADE scripts.
                These are Python scripts which are written to directly interface with PolyglotDB and the ISCAN server without using the front-end user interface.
                For security reasons, it is not safe to allow people to upload their own scripts, however, if you write one, you can contact the server administrator. 
                They will then be able to put the script on the server directly.
            </p>
        </div>
        <div layout="row" class='md-inline-form'>
            <form role="form" novalidate>
                <md-input-container>
                <label>Script</label>
                 <md-select ng-model="script_args.script">
                    <md-option ng-value="choice"
                           ng-repeat="choice in phone_subsets">{{choice }}
                    </md-option>
                 </md-select>
                </md-input-container>

                <md-input-container>
                <label>Corpus</label>
                 <md-select ng-model="script_args.target_corpus">
                    <md-option ng-value="choice"
                           ng-repeat="choice in phone_subsets">{{choice }}
                    </md-option>
                 </md-select>
                </md-input-container>

                <md-checkbox ng-model="script_args.reset">
                Reset the corpus?
                </md-checkbox> 

                <md-button type="submit" class="md-raised md-primary">Run</md-button>
            </form>
        </div>
    </div>
</div>
