<div class="pitch chart">
<div class="plot"></div>
<div class="controls">

    <h1>Edit pitch</h1>


    <label>Pitch source: <select ng-model="newPitchSettings.source" class="'form-control"
                             ng-options="pitch_source for pitch_source in available_pitch_sources">
        <option value="">Select source</option>

    </select></label>
    <label>Min pitch: <input type="text" ng-model="newPitchSettings.min_pitch"
                             class='form-control'/></label>

    <label>Max pitch: <input type="text" ng-model="newPitchSettings.max_pitch"
                             class='form-control'/></label>
    <button ng-click="generateNewTrack()">Generate new pitch track</button>
    <button ng-click="doubleSelected()">Double selected points</button>
    <button ng-click="halveSelected()">Halve selected points</button>
    <button ng-click="smoothSelected()">Smooth selected points</button>
    <button ng-click="removeSelected()">Remove selected points</button>
    <button ng-click="saveTrack()">Save pitch track</button>
</div>
</div>