<div layout="row" layout-align="center start">

    <div layout="column">
        <h4>Generate and refine formant point measures</h4>
        <div layout="row" flex layout-align="space-between none">
        <md-input-container>
            <label>
                Phone class
            </label>
            <md-select ng-model="enrichment.phone_class">
                <md-option ng-repeat="choice in phone_class_options" ng-value="choice">{{choice}}</md-option>
            </md-select>
        </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'phone_class')">
       <i class="material-icons">info</i>
      </md-button>

        </div>

        <div layout="row" flex layout-align="space-between none">
        <md-input-container>

            <label>
                Number of iterations
            </label>
            <input ng-model="enrichment.number_of_iterations" type="number"
                   name="number_of_iterations" min="1" value="1" step="1" required/>

        </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'num_iterations')">
       <i class="material-icons">info</i>
      </md-button>

        </div>
        <div layout="row" flex layout-align="space-between none">

        <md-input-container>

            <label>
                Min duration (ms)
            </label>
            <input ng-model="enrichment.duration_threshold" type="number"
                   name="duration-threshold" min="0"/>
        </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'duration_threshold')">
       <i class="material-icons">info</i>
      </md-button>
        </div>

        <div layout="row" flex layout-align="space-between none">

            <input class="ng-hide" id="formants-file" type="file" />
<label for="formants-file" class="md-button md-raised">Choose Vowel Prototypes CSV</label>
            <md-button class="md-raised md-warn" ng-show="enrichment.path != null" ng-click="enrichment.path = null">
                Delete file
            </md-button>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'vowel_prototypes')">
       <i class="material-icons">info</i>
      </md-button>
        </div>


        <span ng-bind="error_message" style="color: red"></span>
        <md-button class="md-raised md-primary" ng-click="save()">Save enrichment</md-button>
    </div>
</div>
