<div class="row">
    <div class="col-md-9">
            <span ng-bind="error_message" style="color: red"></span>
                <label>Name: <input ng-model="enrichment.name"></label>

                <label>Analysis:
        <select ng-model="enrichment.enrichment_type" ng-options="choice.type as choice.name for choice in acoustic_options" >
            <option value="">Select analysis</option>
        </select></label>
	<label ng-show="enrichment.enrichment_type == 'praat_script'">
            Praat Script: <input type="file" id="praat-script-file" name="file"/>
	</label>
	<label ng-show="enrichment.enrichment_type == 'praat_script'">
	    Phone class: <select ng-model="enrichment.phone_class" ng-options="choice for choice in phone_class_options" >
                    <option value="">Select phone class</option>
		</select>
	</label>

	<label ng-show="enrichment.enrichment_type == 'formants'">
            	Vowel Prototypes CSV: <input type="file" id="formants-file" name="file"/>
	</label>
	<label ng-show="enrichment.enrichment_type == 'formants'">
            	Number of iterations: <input ng-model="enrichment.number_of_iterations" type="number" name="number_of_iterations" min="1" value="1" step="1"/>
	</label>
	<label ng-show="enrichment.enrichment_type == 'formants'">
            	Duration Threshold: <input ng-model="enrichment.duration_threshold" type="number" name="duration-threshold" min="0"/>
	</label>


                <label>Program: <select ng-model="enrichment.source" ng-options="choice for choice in binary_options" >
                    <option value="">Select program</option>
        </select></label>
      <button ng-click="save()">Save enrichment</button>
    </div>
</div>
