
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.combined {
    position: absolute;
    top: 0;
    left: 0;
}


.chart {
    position: relative;
    //height: 350px;
    height: 100%;
    width: 100%;
}
.annotation-chart {
    position: relative;
    //height: 300px;
    height: 100%;
    width: 100%;
}

.facet {
    width: 50%;
     display: inline-block;
}

.annotation-plot {
    height: 20%;
    width: 100%;
}

.detail-plot {
    height: 40%;
    width: 100%;
}
.pitch {
    height: 100%;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

