<div class="col-md-9 text-center" style="height:1280px">
    <div>
        <h4>Create a <span ng-bind="enrichment.annotation_type"></span> subset</h4>
        <label>Subset name: <input ng-model="enrichment.subset_label"> </label>


        <button class='btn btn-success' ng-click="createSubset()">
            <span>Save subset</span>
        </button>
        <button class='btn btn-danger' ng-click="clearMembers()" ng-disabled="">
            <span>Clear members</span>
        </button>

        <p><span ng-bind="error_message" style="color: red"></span></p>

    </div>

    <div ng-if="dataLoading">
        <i>Loading phones...</i>
    </div>

    <div class="row">
	    <div class="col-md-8 scroll-container" style="height:400px">
		<md-content>
		    <md-content class="md-padding">
				 <table class="table table-striped">
				  <thead>
				<td><b>Label</b></td>
				<td><b>Include</b></td>
				  </thead>
				  <tbody>
				<tr ng-repeat="annotation in annotations">
					<td>{{annotation}}</td>
					<td>
				  <input type="checkbox" checklist-model="enrichment.annotation_labels" checklist-value="annotation">
					</td>
				</tr>
				  </tbody>
			  </table>
		    </md-content>
		</md-content>
	    </div>

	    <div class=col-md-4" ng-if="enrichment.annotation_type=='phone'">
		<button ng-disabled="dataLoading|| defaultSubsets['sibilants'] === undefined || defaultSubsets['sibilants'].length == 0" ng-click="select('sibilants')" style="display: block">
		    <span>Select sibilants</span>
		</button>
		<button ng-disabled="dataLoading|| defaultSubsets['syllabics'] === undefined || defaultSubsets['syllabics'].length == 0" ng-click="select('syllabics')" style="display: block">
		    <span>Select syllabics</span>
		</button>
		<button ng-disabled="dataLoading || defaultSubsets['stressed_vowels'] === undefined || defaultSubsets['stressed_vowels'].length == 0" ng-click="select('stressed_vowels')" style="display: block">
		    <span>Select stressed vowels</span>
		</button>

	    </div>
    </div>

    <div ng-if="dataLoading==false">
        <b>Selected subset:</b> {{ enrichment.annotation_labels | joinBy }}
    </div>

</div>

