{% extends "pgdb/base.html" %}
{% load static sekizai_tags %}

{% block all-content %}

    <div ng-app='pgdb'>
        <header class="navbar navbar-static-top navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="navbar-brand" href="{% url 'pgdb:index' %}" style="padding: 0; margin: 0; float: left;"><img
                                src="{% static  "img/full_logo.png" %}" style="float:left; height:50px;"></a>
                        <h1 class="navbar-brand">
                            <small style="margin-left: 3em;">Polyglot server</small>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li ui-sref-active="active"><a ui-sref="database-list">Databases</a>
                                    </li>
                                    <li ui-sref-active="active"><a ui-sref="round-status">Round status</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Link</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div ui-view></div>
            </div>
        </main>
    </div>

    {% addtoblock "js" %}
        <script src="{% static "node_modules/angular/angular.js" %}"></script>
        <script src="{% static "node_modules/angular-ui-router/release/angular-ui-router.js" %}"></script>
        <script src="{% static "node_modules/angular-animate/angular-animate.js" %}"></script>
        <script src="{% static "node_modules/angular-aria/angular-aria.js" %}"></script>
        <script src="{% static "node_modules/angular-messages/angular-messages.js" %}"></script>
        <script src="{% static "node_modules/angular-material/angular-material.js" %}"></script>
        <script src="{% static 'node_modules/angular-cookies/angular-cookies.js' %}" type="text/javascript"></script>


        <script src="{% static "pgdb/pgdb.module.js" %}"></script>

        <script src="{% static "pgdb/components/databases/databases.js" %}"></script>
        <script src="{% static "pgdb/components/databases/databases.service.js" %}"></script>

        <script src="{% static "pgdb/components/corpora/corpora.js" %}"></script>
        <script src="{% static "pgdb/components/corpora/corpora.service.js" %}"></script>

        <script src="{% static "pgdb/database-list/database-list.js" %}"></script>
        <script src="{% static "pgdb/database-detail/database-detail.js" %}"></script>
        <script src="{% static "pgdb/corpus-detail/corpus-detail.js" %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <style>
            md-content {
                background-color: transparent !important;
            }

            md-content md-tabs {
                background: #f6f6f6;
                border: 1px solid #e1e1e1;
            }

            md-content md-tabs md-tabs-wrapper {
                background: white;
            }

            md-content h1:first-child {
                margin-top: 0;
            }
        </style>

    {% endaddtoblock %}
{% endblock %}