{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% render_block "css" %}

</head>


{% addtoblock "css" %}
    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.css" %}" rel="stylesheet"/>{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.js" %}"></script>
{% endaddtoblock %}



<body>

{% block all-content %}
    {% block header %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            <main>
                {% block main-content %}

                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}


{% render_block "js" %}


</body>
</html>