<div class="row">
    <div class='col-md-9'>
        <bestiary-plot data="utterances"></bestiary-plot>
    </div>
    <div class="col-md-3">

        <div id="filters">
            <label>Speaker: <select ng-model="filters.speaker.name" class="form-control"
                                    ng-options="speaker for speaker in speakers" ng-change="update()">
            </select></label>
            <div ng-repeat="p in filter_options.discourse">
                <label>{{p.name}}: <select ng-model="filters.discourse[p.name]"  class="form-control" ng-options="speaker for speaker in p.options" ng-change="update()">
            </select></label>
            </div>
        </div>
        <div id="facets"></div>
        <div id="export">
            <a href="{{ export_url}}">Export all tracks</a>
        </div>
    </div>
</div>