
<div layout="row" layout-align="center start">
    <div layout="column">
        <h4>Relativize a token property</h4>

    <div layout="row" flex layout-align="space-between none">
        <md-input-container>
    <label>Linguistic type
    </label>
        <md-select ng-model="enrichment.annotation_type" required>
            <md-option ng-value="t" ng-repeat="t in hierarchy.annotation_types">{{t}}</md-option>
        </md-select>

        </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'annotation_type')">
       <i class="material-icons">info</i>
      </md-button>
    </div>

    <div layout="row" flex layout-align="space-between none">
        <md-input-container>
    <label>Property
    </label>
        <md-select ng-model="enrichment.property_name" required>
            <md-option ng-value="prop" ng-repeat="prop in hierarchy.token_properties[enrichment.annotation_type] | onlyNumeric">{{prop}}</md-option>
        </md-select>
        </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'property_name')">
       <i class="material-icons">info</i>
      </md-button>
    </div>

    <div layout="row" flex layout-align="space-between none">

            <md-input-container>
                <md-checkbox ng-model="enrichment.by_speaker">Perform relativization by speaker</md-checkbox>

            </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'by_speaker')">
       <i class="material-icons">info</i>
      </md-button>
    </div>




        <p><span ng-bind="error_message" style="color: red"></span></p>
        <md-button class='md-raised md-primary' ng-click="createEnrichment()">
            <span>Save relativized property</span>
        </md-button>

    </div>
</div>

