<div layout='row' layout-align="center start">
    <div layout="column">
        <h1>All Databases</h1>
        <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column>
                    Name
                </th>
                <th md-column>
                    Status
                </th>
                <th md-column>
                    Number of corpora
                </th>
                <th md-column>
                    Neo4j admin site
                </th>
                <th md-column>
                    InfluxDB admin site
                </th>
                <th md-column>
                    Actions
                </th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat='db in databases'>

                <td md-cell>
                    {{ db.name }}
                </td>
                <td md-cell>
                    {{ db.status }}
                </td>
                <td md-cell>
                    {{ db.num_corpora }}
                <a ui-sref="database-detail({database_id: db.id })">View</a>
                </td>
                <td md-cell>
                    <a href="http://{{ host+ ':' + db.neo4j_http_port }}">http://{{ host+ ':' + db.neo4j_http_port }}</a>
                </td>
                <td md-cell>
                    <a href="http://{{ host + ':' + db.influxdb_admin_port }}">http://{{ host + ':' + db.influxdb_admin_port }}</a>
                </td>
                <td md-cell>
                        <md-button class='md-raised md-primary' ng-click="startDatabase(db)" ng-show="db.status=='Stopped'" ng-disabled="db.start_button=='Starting...'">{{ db.start_button }}</md-button>
                        <md-button class='md-raised md-warn' ng-click="stopDatabase(db)" ng-show="db.status=='Running'" ng-disabled="db.stop_button=='Stopping...'">{{ db.stop_button }}</md-button>
                        <md-button class='md-raised md-warn' ng-click="deleteDatabase(db.id)" ng-if="user.is_superuser" ng-disabled="db.delete_button=='Deleting...'">{{ db.delete_button }}</md-button>
                </td>
            </tr>
            </tbody>
        </table>
        </md-table-container>
    </div>
</div>