<div layout='row' layout-align="center start">
    <div layout="column">

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Change password</span>
                </md-card-title-text>


            </md-card-title>
            <md-card-content>
                <div>

        <md-input-container>

            <label>Password</label>
            <input ng-model="data.password" type="password">
        </md-input-container>
        <md-input-container>

            <label>Confirm password</label>
            <input ng-model="password_validation" type="password">
            <small class="errorMessage" data-ng-show="data.password != password_validation">Passwords do not match.</small>

        </md-input-container>
                </div>
        <md-button class='md-raised md-primary' ng-click="submit()" ng-disabled="data.password != password_validation">Change password</md-button>
                </md-card-content>
            </md-card>

    </div>
</div>