html, body, .container-fluid{
  height: 100%;
}
.scroll-container {
    height: 100%;
    overflow: auto;
}
.scrollable-table tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

.scrollable-table{
    max-height:100%;              // <-- Select the height of the table
        table-layout:fixed;
}
.scrollable-table tbody{
    overflow-y: scroll;
    height: 85%;            //  <-- Select the height of the body
    width: 100%;
    position: absolute;
}

main {
    height:1280px;
}
main .container-fluid {
    height: 100%;
}

.single-row {
    height:100%;
}
.danger-text {
    color: red;
}


.col-md-3 {
    height:850px;
}
.col-md-3 .detail-container{
    height:400px;
}

.col-md-3 .tabs {
    height:76%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
}

md-tabs {
    height: 400px;
    overflow-y: hidden;
    overflow-x: visible;
}

md-content {
    min-height: 400px;
}

.col-md-3 md-content{
    //height:800px;
    //height: 100%;
    overflow-y: hidden;
    overflow-x: visible;
}

.col-md-3 md-content div {
    height:100%;
}

.col-md-3 .detail-container md-content div {
    height:auto;
}

multiselect {
    display: block;
}

    multiselect > .btn-group {
        min-width: 180px;
    }

    multiselect .btn {
        width: 100%;
        background-color: #FFF;
    }

        multiselect .btn.has-error {
            border: 1px solid #a94442 !important;
            color: #db524b;
        }

    multiselect .dropdown-menu {
        max-height: 300px;
        min-width: 200px;
        overflow-y: auto;
    }

        multiselect .dropdown-menu .filter > input {
            width: 99%;
        }

        multiselect .dropdown-menu .filter .glyphicon {
            cursor: pointer;
            pointer-events: all;
        }

    multiselect .dropdown-menu {
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
    }

    multiselect > .btn-group > button {
        padding-right: 20px;
    }

        multiselect > .btn-group > button > .caret {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid black;
            right: 5px;
            top: 45%;
            position: absolute;
        }

    multiselect .dropdown-menu > li > a {
        padding: 3px 10px;
        cursor: pointer;
    }

        multiselect .dropdown-menu > li > a i {
            margin-right: 4px;
        }

.glyphicon-none:before {
    content: "\e013";
    color: transparent !important;
}

