<div class="col-md-9 scroll-container text-center" style="height:1280px" ng-show="corpus.database_running">
    <div>
        <h4>Query <span ng-bind="query.annotation_type"></span>s</h4>
        <label>Query name: <input ng-model="query.name"> </label>
        <multiselect-dropdown class="tabs" ng-cloak style="max-height:100%">
            <md-content>
                <md-tabs md-border-bottom>

                    <md-tab ng-repeat="t in annotation_types" label="{{ t|titlecase }} properties" data-ng-if="$index >= annotation_types.indexOf(query.annotation_type.toLowerCase())">
                    <md-content class="md-padding">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr ng-repeat="filter in query.filters[t]">

                                    <td>
                                        <select ng-model="filter.property">
                                            <option value="">Select property</option>
                                            <option ng-repeat="prop in properties[t]">{{ prop }}</option>
                                        </select>
                                    </td>
                                    <td>
					 <select ng-model="filter.operator" ng-options="o as o for o in getOperators(filter)"></select>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-show="propertyTypes[t][filter.property]=== false"
                                               ng-model="filter.value">
					<div class="input-group" ng-show="propertyTypes[t][filter.property] === '' || propertyTypes[t][filter.property] === 0" >
						<input ng-model="filter.value" ng-change="updateAutoComplete(t, filter)">
						<p ng-repeat="f in filter.autoList| filter:filter.value" ng-hide="!filter.value">{{ f }}</p>
					</div>
                                    </td>
                                    <td>
                                        <span class='badge' ng-click="removeFilter(t, $index)">X</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class='btn' ng-click="addFilter(t)" ng-disabled="query.running"><span>Add filter</span>
                            </button>
                        <multiselect class="input-small multiselect" ng-model="query.subsets[t]" options="s for s in subsets[t]"
                                 header="All" selected-header="subsets" enable-check-all="false" enable-uncheck-all="true" multiple="true" enable-filter="false"
                                              ng-init='e.initial = true'>
                    </multiselect>
                        </md-content>
                    </md-tab>

                    <md-tab label="Speaker properties">
                        <md-content class="md-padding">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr ng-repeat="filter in query.filters.speaker">

                                    <td>
                                        <select ng-model="filter.property">
                                            <option value="">Select property</option>
                                            <option ng-repeat="prop in properties.speaker">{{ prop }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-show="propertyTypes.speaker[filter.property]=== false"
                                               ng-model="filter.value">
					<div class="input-group" ng-show="propertyTypes.speaker[filter.property] === '' || propertyTypes.speaker[filter.property] === 0" >
						<input ng-model="filter.value" ng-change="updateAutoComplete('Speaker', filter)">
						<p ng-repeat="f in filter.autoList| filter:filter.value" ng-hide="!filter.value">{{ f }}</p>
					</div>
                                    </td>
                                    <td>
                                        <span class='badge' ng-click="removeFilter('speaker', $index)">X</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class='btn' ng-click="addFilter('speaker')" ng-disabled="query.running"><span>Add filter</span>
                            </button>
                        </md-content>
                    </md-tab>
                    <md-tab label="Sound file properties">
                        <md-content class="md-padding">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr ng-repeat="filter in query.filters.discourse">

                                    <td>
                                        <select ng-model="filter.property">
                                            <option value="">Select property</option>
                                            <option ng-repeat="prop in properties.discourse">{{ prop }}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="checkbox"
                                               ng-show="propertyTypes.discourse[filter.property]=== false"
                                               ng-model="filter.value">
					<div class="input-group" ng-show="propertyTypes.discourse[filter.property] === '' || propertyTypes.discourse[filter.property] === 0" >
						<input ng-model="filter.value" ng-change="updateAutoComplete('Discourse', filter)">
						<p ng-repeat="f in filter.autoList| filter:filter.value" ng-hide="!filter.value">{{ f }}</p>
					</div>
                                    </td>
                                    <td>
                                        <span class='badge' ng-click="removeFilter('discourse', $index)">X</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button class='btn' ng-click="addFilter('discourse')" ng-disabled="query.running"><span>Add filter</span>
                            </button>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-content>
        </multiselect-dropdown>


        <button class='btn btn-success' ng-click="updateQuery()" ng-disabled="query.running"><span
                ng-bind="queryState.queryText"></span></button>
        <button class='btn btn-success' ng-show="!newQuery" ng-click="refreshQuery()" ng-disabled="query.running"><span
                ng-bind="queryState.refreshText"></span></button>
        <button class='btn btn-success' ng-show="!newQuery" ng-click="updateOrdering()" ng-disabled="query.running">
            <span>Save current ordering</span></button>
        <button class='btn btn-danger' ng-click="clearFilters()" ng-disabled="query.running"><span>Clear filters</span>
        </button>
<button class="btn" ng-disabled="query.running" ng-show="!newQuery" ng-click="export()"><span
                ng-bind="queryState.exportText"></span></button>
    </div>
    <div ng-show="query.result_count==0 && !newQuery">
        <span>No results found</span>
    </div>
    <div ng-show="refreshing">
        <span>Refreshing results...</span>
    </div>
    <div ng-show="query.result_count>0 && !refreshing">

        <ul ng-if="queryState.numPages" class="pagination">
            <li ng-class="{disabled:queryState.currentPage === 1}">
                <a ng-click="first()">First</a>
            </li>
            <li ng-class="{disabled:queryState.currentPage === 1}">
                <a ng-click="previous()">Previous</a>
            </li>
            <li ng-repeat="page in queryState.pages  track by $index"
                ng-class="{active:queryState.currentPage === page, disabled:page === '...'}">
                <a ng-click="refreshPagination(page)">{{ page }}</a>
            </li>
            <li ng-class="{disabled:queryState.currentPage === queryState.numPages}">
                <a ng-click="next()">Next</a>
            </li>
            <li ng-class="{disabled:queryState.currentPage === queryState.numPages}">
                <a ng-click="last()">Last</a>
            </li>
        </ul>
        <table class="table table-bordered table-striped scrollable-table">

            <thead>
            <tr>
                <td ng-repeat="prop in properties.phone" ng-click="refreshOrdering('phone', prop)" ng-show="query.columns.phone[prop] && (query.annotation_type === 'phone')">
                    <input ng-model="query.column_names.phone[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'phone.'+prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-phone.' + prop" class="fa fa-caret-up"></span>
                </td>
                <td ng-repeat="prop in properties.syllable" ng-click="refreshOrdering('syllable', prop)" ng-show="query.columns.syllable[prop] && (query.annotation_type === 'syllable' || query.annotation_type === 'phone')">
                    <input ng-model="query.column_names.syllable[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'syllable.'+prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-syllable.' + prop" class="fa fa-caret-up"></span>
                </td>
                <td ng-repeat="prop in properties.word" ng-click="refreshOrdering('word', prop)" ng-show="query.columns.word[prop] && (query.annotation_type === 'word' || query.annotation_type === 'syllable' || query.annotation_type === 'phone')">
                    <input ng-model="query.column_names.word[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'word.'+prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-word.' + prop" class="fa fa-caret-up"></span>
                </td>
                <td ng-repeat="prop in properties.utterance" ng-click="refreshOrdering('utterance', prop)" ng-show="query.columns.utterance[prop]">
                    <input ng-model="query.column_names.utterance[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'utterance.' +prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-utterance.' + prop" class="fa fa-caret-up"></span>
                </td>
                <td ng-repeat="prop in properties.speaker" ng-click="refreshOrdering('speaker', prop)" ng-show="query.columns.speaker[prop]">
                    <input ng-model="query.column_names.speaker[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'speaker.' + prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-speaker.' + prop" class="fa fa-caret-up"></span>
                </td>
                <td ng-repeat="prop in properties.discourse" ng-click="refreshOrdering('discourse', prop)" ng-show="query.columns.discourse[prop]">
                    <input ng-model="query.column_names.discourse[prop]" ng-click="$event.stopPropagation();">
                    <span ng-show="queryState.ordering == 'discourse.' +prop" class="fa fa-caret-down"></span>
                    <span ng-show="queryState.ordering == '-discourse.' + prop" class="fa fa-caret-up"></span>
                </td>

            </tr>
            </thead>
            <tbody style="height:50%">
            <tr ng-repeat="result in queryState.results">
                <td ng-repeat="prop in properties.phone" ng-show="query.columns.phone[prop] && (query.annotation_type === 'phone')">
                    <span
                       ng-show="can_view && query.annotation_type == 'phone' && prop == 'label'" ng-click="getDetail($index)" class="link">{{ result.phone[prop] }}</span>
                    <span ng-show="!can_view || query.annotation_type != 'phone' || prop != 'label'">{{ result.phone[prop] }}</span>
                </td>
                <td ng-repeat="prop in properties.syllable" ng-show="query.columns.syllable[prop] && (query.annotation_type === 'syllable' || query.annotation_type === 'phone')">
                    <span
                       ng-show="can_view && query.annotation_type == 'syllable' && prop == 'label'" ng-click="getDetail($index)" class="link">{{ result.syllable[prop] }}</span>
                    <span ng-show="!can_view || query.annotation_type != 'syllable' || prop != 'label'">{{ result.syllable[prop] }}</span>
                </td>
                <td ng-repeat="prop in properties.word" ng-show="query.columns.word[prop] && (query.annotation_type === 'word' || query.annotation_type === 'syllable' || query.annotation_type === 'phone')">
                    <span
                       ng-show="can_view && query.annotation_type == 'word' && prop == 'label'" ng-click="getDetail($index)" class="link">{{ result.word[prop] }}</span>
                    <span ng-show="!can_view || query.annotation_type != 'word' || prop != 'label'">{{ result.word[prop] }}</span>
                </td>
                <td ng-repeat="prop in properties.utterance" ng-show="query.columns.utterance[prop]">
                    <span
                       ng-show="can_view && query.annotation_type == 'utterance' && prop == 'label'" ng-click="getDetail($index)" class="link">{{ result.utterance[prop] }}</span>
                    <span ng-show="!can_view || query.annotation_type != 'utterance' || prop != 'label'">{{ result.utterance[prop] }}</span>
                </td>
                <td ng-repeat="prop in properties.speaker" ng-show="query.columns.speaker[prop]">
                    {{ result.speaker[prop] }}
                </td>
                <td ng-repeat="prop in properties.discourse" ng-show="query.columns.discourse[prop]">
                    {{ result.discourse[prop] }}
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

<div class="col-md-3  scroll-container">
    <multiselect-dropdown class="tabs" ng-cloak style="height:50%" ng-show="!newQuery">
        <md-content>
            <md-tabs md-border-bottom>

                    <md-tab ng-repeat="t in annotation_types" label="{{ t|titlecase }}" data-ng-if="$index >=annotation_types.indexOf(query.annotation_type.toLowerCase())">
                    <md-content class="md-padding">
                        <table class="table table-striped scrollable-table">
                            <thead>
                            <td>Column</td>
                            <td>Visble</td>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prop in properties[t]">
                                <td>{{ prop }}</td>
                                <td>
                                    <input type="checkbox" ng-model="query.columns[t][prop]">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                    </md-tab>

                <md-tab label="Speaker">
                    <md-content class="md-padding">
                        <table class="table table-striped scrollable-table">
                            <thead>
                            <td>Column</td>
                            <td>Visble</td>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prop in properties.speaker">
                                <td>{{ prop }}</td>
                                <td>
                                    <input type="checkbox" ng-model="query.columns.speaker[prop]">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>

                <md-tab label="Sound file">
                    <md-content class="md-padding">
                        <table class="table table-striped scrollable-table">
                            <thead>
                            <td>Column</td>
                            <td>Visble</td>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prop in properties.discourse">
                                <td>{{ prop }}</td>
                                <td>
                                    <input type="checkbox" ng-model="query.columns.discourse[prop]">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    </multiselect-dropdown>
    <div ng-show="!newQuery">
    <h3>Exporting acoustic tracks</h3>
    <multiselect-dropdown class="tabs" ng-cloak style="max-height:100%">
        <md-content>
            <md-tabs md-border-bottom>

                <md-tab label="Pitch" ng-if="false">
                    <md-content class="md-padding">
                        <table class="table table-striped scrollable-table">
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Include</td>
                                <td>
                                    <input type="checkbox" ng-model="query.acoustic_columns.pitch.include">
                                </td>
                            </tr>
                            <tr>
                                <td>Relative</td>
                                <td>
                                    <input type="checkbox" ng-model="query.acoustic_columns.pitch.relative">
                                </td>
                            </tr>
                            <tr>
                                <td>Relative time</td>
                                <td>
                                    <input type="checkbox" ng-model="query.acoustic_columns.pitch.relative_time">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    </multiselect-dropdown>

    </div>
</div>
<div class="alert alert-warning" ng-show="!corpus.database_running">
	<span>The {{ corpus.name }} database is not currently running, please start it at <a ui-sref="database-list">databases</a>.</span>
</div>
