<header class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a class="navbar-brand" ui-sref="index" style="padding: 0; margin: 0; float: left;"></a>
                <h1 class="navbar-brand">
                    {{ siteName }}
                    <small style="margin-left: 3em;"></small>
                </h1>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                            <li ui-sref-active="active" ng-show="authenticated "><a ui-sref="database-list">Databases</a>
                            </li>
                            <li class="dropdown" ng-show="authenticated && apps.includes('intonation')">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Intonational bestiary <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li ng-repeat="c in corpora track by c.id" ui-sref-active="active"><a
                                            ui-sref="bestiary-plot({corpus_id: c.id})">{{ c.name }}</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" ng-show="authenticated">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Corpora<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li ng-repeat="c in corpora track by c.id" ui-sref-active="active"><a
                                            ui-sref="corpus-detail({corpus_id: c.id})">{{ c.name }}</a></li>
                                </ul>
                            </li>
                            <li ui-sref-active="active" ng-show="authenticated && current_corpus != undefined"><a ui-sref="corpus-detail({corpus_id:current_corpus.id})">{{current_corpus.name}}</a>
                            <li ui-sref-active="active" ng-show="authenticated && user.is_superuser"><a ui-sref="user-list">Users</a>
                            <li ui-sref-active="active" ng-show="authenticated && scripts_enabled"><a ui-sref="script-list">Scripts</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown" ng-show="authenticated">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">{{user.username}}<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li  ui-sref-active="active"><a
                                            ui-sref="change-password">Change password</a></li>
                                </ul>
                            </li>
                            <li ng-show="authenticated"> <a ui-sref="logout()">Log out</a></li>
                            <li ng-show="!authenticated"> <a ui-sref="login()">Log in</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </div>
    </div>
</header>
