<div class="alert alert-warning" ng-show="higher_annotations.length < 3">
	<span>In order to use the {{ missingAnnotations }}  annotations, you must encode them under enrichments. </span>
</div>	
<div class="col-md-9 text-center" style="height:1280px">
    <div>
        <h4>Create a hierarchical property</h4>
        <label>Hierarchical property name: <input ng-model="hp.property_label" ng-change="hp.name='Encode ' + hp.property_label"> </label>


        <button class='btn btn-success' ng-click="createHP()">
            <span>Save hierarchical property</span>
        </button>
        <button class='btn btn-danger' ng-click="clearMembers()" ng-disabled="">
            <span>Reset to default</span>
        </button>

        <p><span ng-bind="error_message" style="color: red"></span></p>


    <label>Higher linguistic type:
        <select ng-model="hp.higher_annotation" class="form-control"
                ng-options="higher_annotation for higher_annotation in higher_annotations"
                ng-change="configLowerAnnotations()">
            <option value="">Select higher linguistic type</option>
        </select>
    </label>

    <label>Lower linguistic type:
        <select ng-model="hp.lower_annotation" class="form-control"
                ng-options="lower_annotation for lower_annotation in lower_annotations">
            <option value="">Select lower linguistic type</option>
        </select>
    </label>

    <label>(optional) Subset of lower linguistic type:
        <select ng-model="hp.subset_label" class="form-control"
                ng-options="s for s in subsets[hp.lower_annotation]">
            <option value="">No subset</option>
        </select>
    </label>

    <label>Property type:
        <select ng-model="hp.property_type" class="form-control"
                ng-options="hp_type for hp_type in hp_types">
            <option value="">Select property type</option>
        </select>
    </label>


    </div>
</div>

