<div class="row">
    <div class="col-md-9">
        <span ng-bind="error_message" style="color: red"></span>
            <label>Name: <input ng-model="enrichment.name"></label>

	 <label> Analysis: 
        <select ng-model="enrichment.enrichment_type" ng-options="choice.type as choice.name for choice in annotation_options" >
            <option value="">Select analysis</option>
        </select></label>
            <label ng-show="enrichment.enrichment_type == 'utterances'">Utterance gap(ms):
		    <input  type="number" name="utterance_gap" ng-model="enrichment.pause_length" min="0" value="150">
	    </label>
        <button ng-click="save()">Save enrichment</button>
        <button ng-click="print()">print </button>
    </div>
    <div ng-show="enrichment.enrichment_type == 'pauses'" class="col-md-12 scroll-container" style="height:400px">
        <md-content>
            <md-content class="md-padding">
                <table class="table table-striped">
                    <thead>
                        <td><b>Words</b></td>
                        <td><b>Include</b></td>
                    </thead>
                    <tbody>
                        <tr ng-repeat="word in words">
                            <td>{{ word.label }}</td>
                            <td>
                                <input type="checkbox" ng-model=word.checked>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-content>
        </md-content>
    </div>
</div>
