<div class="row">
    <div class="col-md-9">
        <span ng-bind="error_message" style="color: red"></span>
            <label>Name: <input ng-model="enrichment.name"></label>

	 <label> Analysis: 
        <select ng-model="enrichment.enrichment_type" ng-options="choice.type as choice.name for choice in annotation_options" >
            <option value="">Select analysis</option>
        </select></label>
            <label>Utterance gap(ms):
		    <input type="number" name="utterance_gap" ng-model="enrichment.pause_length" min="0">
	    </label>
        <button ng-click="save()">Save enrichment</button>
    </div>
</div>
