<div layout="column">
    <div layout="row" layout-align="center start">
        <h4>Encode pauses</h4>
    </div>

    <div layout="row" layout-align="center start">
        <div layout="column">

            <span ng-bind="error_message" style="color: red"></span>

            <md-button class="md-primary md-raised" ng-click="save()">Save enrichment</md-button>
        </div>
        <div layout="column">
        <div layout="row" flex layout-align="space-between none">

            <md-input-container>

            <label> Custom words
            </label>
                <input type="text" name="custom_words" ng-model="customWords">
            </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'custom_words')">
       <i class="material-icons">info</i>
      </md-button>
            </div>

            <md-input-container>
            <label>
                Checklist limit
            </label>
                <input type="number" name="word_count" ng-model="count" min="1" ng-change="getWords()"
                       ng-model-options="{debounce:750}">
            </md-input-container>
<div>
    <md-virtual-repeat-container id="vertical-container">
			<div md-virtual-repeat="annotation in words"
          class="repeated-item" flex>
                    <md-checkbox checklist-model="annotation_labels" checklist-value="annotation"> {{annotation}}
                    </md-checkbox>
    </md-virtual-repeat-container>

</div>


        </div>
    </div>
</div>
