<div layout="row" layout-align="center start">
    <div layout="column">
        <h4>Generate syllables</h4>
        <div layout="row" flex layout-align="space-between none">
            <md-input-container>
        <label>Algorithm
        </label>
            <md-select ng-model="enrichment.algorithm">
                <md-option ng-value="choice.type" ng-repeat="choice in algorithm_options">{{choice.name}}</md-option>
            </md-select>
            </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'algorithm')">
       <i class="material-icons">info</i>
      </md-button>
        </div>
        <div layout="row" flex layout-align="space-between none">
            <md-input-container>

        <label>Syllabic subset
        </label>
            <md-select ng-model="enrichment.phone_class">
                <md-option ng-value="choice" ng-repeat="choice in phone_class_options">{{choice}}</md-option>
            </md-select>
            </md-input-container>
      <md-button class="md-icon-button" aria-label="Help" ng-click="getHelp($event, 'phone_class')">
       <i class="material-icons">info</i>
      </md-button>
        </div>
        <span ng-bind="error_message" style="color: red"></span>
        <md-button class="md-raised md-primary" ng-click="save()">Save enrichment</md-button>
    </div>
</div>
